In [1]:
import pandas as pd
import numpy as np

In [16]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"," "]

In [2]:
df = pd.read_json("housing_dataset.json")
df

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707 m² tomt,Slutpris 6 155 000 kr,Såld 31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155 m² 6 rum,895 m² tomt,Slutpris 6 600 000 kr,Såld 31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665 m² tomt,Slutpris 7 300 000 kr,Såld 31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101 m² 3 rum,907 m² tomt,Slutpris 4 415 000 kr,Såld 31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944 m² tomt,Slutpris 8 800 000 kr,Såld 31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573 m² tomt,Slutpris 10 850 000 kr,Såld 4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155 m² 6 rum,892 m² tomt,Slutpris 8 065 000 kr,Såld 4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158 m² 7 rum,968 m² tomt,Slutpris 5 800 000 kr,Såld 4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1 058 m² tomt,Slutpris 7 450 000 kr,Såld 4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993 m² tomt,Slutpris 9 070 000 kr,Såld 4 maj 2022

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        2500 non-null   object
 1   region         2500 non-null   object
 2   house_size     2500 non-null   object
 3   property_size  2469 non-null   object
 4   sales_price    2500 non-null   object
 5   sales_date     2500 non-null   object
dtypes: object(6)
memory usage: 117.3+ KB

In [15]:
df.describe()

,address,region,house_size,property_size,sales_price,sales_date
count,2500,2500,2500,2469,2500,2500
unique,2482,1007,324,1607,732,179
top,Dalkarlsvägen 16,"Tullinge, Botkyrka kommun",120,926 m² tomt,Slutpris 5 500 000 kr,Såld 25 maj 2022
freq,2,34,46,7,30,54

In [4]:
df_copy = df

In [7]:
df_copy

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707 m² tomt,Slutpris 6 155 000 kr,Såld 31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895 m² tomt,Slutpris 6 600 000 kr,Såld 31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665 m² tomt,Slutpris 7 300 000 kr,Såld 31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907 m² tomt,Slutpris 4 415 000 kr,Såld 31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944 m² tomt,Slutpris 8 800 000 kr,Såld 31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573 m² tomt,Slutpris 10 850 000 kr,Såld 4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892 m² tomt,Slutpris 8 065 000 kr,Såld 4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968 m² tomt,Slutpris 5 800 000 kr,Såld 4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1 058 m² tomt,Slutpris 7 450 000 kr,Såld 4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993 m² tomt,Slutpris 9 070 000 kr,Såld 4 maj 2022

In [6]:
df_copy['house_size'] = df_copy['house_size'].str[0:3] # works
df_copy['house_size']

0       101
1       155
2       141
3       101
4       183
       ...
2495    129
2496    155
2497    158
2498     80
2499    225
Name: house_size, Length: 2500, dtype: object

In [12]:
def find_int(x):
    digits = ""
    try:
        for char in x:
            if char.isdigit():
                digits.join(char)
        return digits
    except Exception as e:
        print(e)

In [18]:
for char in spec_chars:
    df_copy['property_size'] = df_copy['property_size'].str.replace(char, ' ')

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\1242455055.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy['property_size'] = df_copy['property_size'].str.replace(char, ' ')

In [20]:
df_copy['property_size'] = df_copy['property_size'].str.replace(' ', '')

In [32]:
df_copy = df_copy.dropna()

In [33]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2469 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        2469 non-null   object
 1   region         2469 non-null   object
 2   house_size     2469 non-null   object
 3   property_size  2469 non-null   object
 4   sales_price    2469 non-null   object
 5   sales_date     2469 non-null   object
dtypes: object(6)
memory usage: 135.0+ KB

In [36]:
df_copy['property_size'] = df_copy['property_size'].str.extract('(\d+)').astype(int)

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\1807378747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['property_size'] = df_copy['property_size'].str.extract('(\d+)').astype(int)

In [37]:
df_copy

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,Slutpris 6 155 000 kr,Såld 31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,Slutpris 6 600 000 kr,Såld 31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,Slutpris 7 300 000 kr,Såld 31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,Slutpris 4 415 000 kr,Såld 31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,Slutpris 8 800 000 kr,Såld 31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,Slutpris 10 850 000 kr,Såld 4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,Slutpris 8 065 000 kr,Såld 4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,Slutpris 5 800 000 kr,Såld 4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,Slutpris 7 450 000 kr,Såld 4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,Slutpris 9 070 000 kr,Såld 4 maj 2022

In [38]:
for char in spec_chars:
    df_copy['sales_price'] = df_copy['sales_price'].str.replace(char, ' ')

df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\138638646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['sales_price'] = df_copy['sales_price'].str.replace(char, ' ')
C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\138638646.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy['sales_price'] = df_copy['sales_price'].str.replace(char, ' ')

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,Slutpris 6 155 000 kr,Såld 31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,Slutpris 6 600 000 kr,Såld 31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,Slutpris 7 300 000 kr,Såld 31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,Slutpris 4 415 000 kr,Såld 31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,Slutpris 8 800 000 kr,Såld 31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,Slutpris 10 850 000 kr,Såld 4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,Slutpris 8 065 000 kr,Såld 4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,Slutpris 5 800 000 kr,Såld 4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,Slutpris 7 450 000 kr,Såld 4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,Slutpris 9 070 000 kr,Såld 4 maj 2022

In [39]:
df_copy['sales_price'] = df_copy['sales_price'].str.replace(' ', '')

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\4282657543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['sales_price'] = df_copy['sales_price'].str.replace(' ', '')

In [45]:
for char in spec_chars:
    df_copy['house_size'] = df_copy['house_size'].str.replace(char, '')

df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\3807247735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['house_size'] = df_copy['house_size'].str.replace(char, '')
C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\3807247735.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy['house_size'] = df_copy['house_size'].str.replace(char, '')

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,6155000,31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,6600000,31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,7300000,31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,4415000,31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,8800000,31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,10850000,4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,8065000,4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,5800000,4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,7450000,4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,9070000,4 maj 2022

In [46]:
df_copy['house_size'] = df_copy['house_size'].str.replace(' ', '')

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\2728749408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['house_size'] = df_copy['house_size'].str.replace(' ', '')

In [40]:
df_copy['sales_price'] = df_copy['sales_price'].str.extract('(\d+)').astype(int)
df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\134697974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['sales_price'] = df_copy['sales_price'].str.extract('(\d+)').astype(int)

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,6155000,Såld 31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,6600000,Såld 31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,7300000,Såld 31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,4415000,Såld 31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,8800000,Såld 31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,10850000,Såld 4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,8065000,Såld 4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,5800000,Såld 4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,7450000,Såld 4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,9070000,Såld 4 maj 2022

In [41]:
df_copy['sales_date'] = df_copy['sales_date'].map(lambda x: x.lstrip('Såld'))
df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\3618136882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['sales_date'] = df_copy['sales_date'].map(lambda x: x.lstrip('Såld'))

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,6155000,31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,6600000,31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,7300000,31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,4415000,31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,8800000,31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,10850000,4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,8065000,4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,5800000,4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,7450000,4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,9070000,4 maj 2022

In [42]:
df_copy['sales_date'] = df_copy['sales_date'].map(lambda x: x.lstrip(' '))
df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\2154029153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['sales_date'] = df_copy['sales_date'].map(lambda x: x.lstrip(' '))

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101,707,6155000,31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155,895,6600000,31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141,665,7300000,31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101,907,4415000,31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183,944,8800000,31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129,573,10850000,4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155,892,8065000,4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158,968,5800000,4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80,1058,7450000,4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225,993,9070000,4 maj 2022

In [47]:
df_copy[["house_size", "property_size", "sales_price"]] = df_copy[["house_size", "property_size", "sales_price"]].apply(pd.to_numeric)
df_copy

C:\Users\LiamN\AppData\Local\Temp\ipykernel_9504\3435250049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy[["house_size", "property_size", "sales_price"]] = df_copy[["house_size", "property_size", "sales_price"]].apply(pd.to_numeric)

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101.0,707,6155000,31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155.0,895,6600000,31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141.0,665,7300000,31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101.0,907,4415000,31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183.0,944,8800000,31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129.0,573,10850000,4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155.0,892,8065000,4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158.0,968,5800000,4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80.0,1058,7450000,4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225.0,993,9070000,4 maj 2022

In [48]:
df_copy.to_csv("housing_cleaned.csv")

In [49]:
df_copy.to_json("housing_cleaned.json")

In [50]:
df_test = pd.read_json("housing_cleaned.json")
df_test

,address,region,house_size,property_size,sales_price,sales_date
0,Tranvägen 19,"Barkarby, Järfälla kommun",101.0,707,6155000,31 oktober 2022
1,Blåmesvägen 40,"Nyby, Vallentuna kommun",155.0,895,6600000,31 oktober 2022
2,Gökottestigen 12,"Nälsta, Stockholms kommun",141.0,665,7300000,31 oktober 2022
3,Pärlängsvägen 22,"Järna, Södertälje kommun",101.0,907,4415000,31 oktober 2022
4,Ekvägen 2B,"Helenelund, Sollentuna kommun",183.0,944,8800000,31 oktober 2022
...,...,...,...,...,...,...
2495,Västerled 166,"Olovslund, Stockholms kommun",129.0,573,10850000,4 maj 2022
2496,Kolartorpsvägen 1,"Stäket, Järfälla kommun",155.0,892,8065000,4 maj 2022
2497,Kvarnvägen 14B,"Färingsö Kungsberga, Ekerö kommun",158.0,968,5800000,4 maj 2022
2498,Gråbergsvägen 21,"Stuvsta, Huddinge kommun",80.0,1058,7450000,4 maj 2022
2499,Fornborgsvägen 40B,"Solgård, Huddinge kommun",225.0,993,9070000,4 maj 2022